{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h1> The template below was provided be Helio - awesome templates! Crappy implementation ;) </h1>
</div>

<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->



<html>
	<head>
		<title>Hielo by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/learning_users/css/primary.css" />
	</head>
	<body>

    <div type="container">


		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html"> <span>Clinical Developers</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="static/learning_users/images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Django rocking thx to the help of Helio! <a href="https://templated.co">TEMPLATED</a></p>
							<h2>Django Rocks</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="static/learning_users/images/slide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Come and stand in a cave</p>
							<h2>Look how magnificient this cave is!</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="static/learning_users/images/slide03.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>What a beautiful sight</p>
							<h2>A lovely crashed plane</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="static/learning_users/images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Wooho</p>
							<h2>Monkies!</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="static/learning_users/images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Haha</p>
							<h2>woohoo</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="static/learning_users/images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>This is a lovely looking spot</p>
										<h2>Magnificent Caves</h2>
									</header>
									<p> Some random text.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="static/learning_users/images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>A burned out Plane</p>
										<h2>What a beautiful sight</h2>
									</header>
									<p> Some more random text.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Lovely!</p>
						<h2>Massive Improvement</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Lovely alignments</p>
						<h2>Smashing</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="static/learning_users/images/pic01.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/learning_users/images/pic02.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/learning_users/images/pic03.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/learning_users/images/pic04.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. No rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/learning_users/js/jquery.min.js"></script>
			<script src="static/learning_users/js/jquery.scrollex.min.js"></script>
			<script src="static/learning_users/skel.min.js"></script>
			<script src="static/learning_users/js/util.js"></script>
			<script src="static/learning_users/js/main.js"></script>

  </div>
	</body>
</html>


{% endblock %}
